.container {
    width: 60rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    background-color: lightgray;
}

nav {
    width: 100%;
    background-color: lavender;
}

main {
    width: 85%;
    background-color: lightcyan;
}

aside {
    width: 15%;
    background-color: lightseagreen;
}

footer {
    width: 100%;
    background-color: rosybrown;

}